@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap");

:root {
  --title-color:  #00897B;
  --text-color: #424242;
  --card-on-color: #0092a5;
  --shadow-card: #01b6a4;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  
}

.Dark {
  background-color: #212121;
  
}

.Dark p {
  color: white;
}